<!-- Esta linha declara o tipo de documento (DOCTYPE) como HTML5.
     É importante para garantir que o navegador processe a página como HTML5. -->
<!DOCTYPE html>

<!-- A tag <html> inicia o documento HTML. O atributo 'lang="en"'
    especifica que o idioma da página é o inglês.
     O atributo 'lang' ajuda na acessibilidade e nos motores de
     busca para entender o idioma do conteúdo da página. -->
<html lang="en">

<!-- A tag <head> contém informações sobre o documento que
    não são exibidas diretamente na página web,
     como metadados, links para CSS, e o título da página. -->
<head>

    <!-- A tag <meta> com atributo 'charset="UTF-8"' define a
        codificação de caracteres para o documento como UTF-8,
         que inclui a maioria dos caracteres de todos os idiomas
         escritos, garantindo assim a correta exibição de qualquer texto. -->
    <meta charset="UTF-8">

    <!-- Outra tag <meta> que define a viewport da página.
         'content="width=device-width, initial-scale=1.0"' faz
         com que a largura da página seja igual à largura do dispositivo
          (como um celular ou tablet) e inicia o zoom da página em 1.0.
         Isso é crucial para garantir que a página seja responsiva e se
         adapte bem a diferentes tamanhos de tela. -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- A tag <title> define o título da página, que é exibido na
        aba do navegador e usado pelos motores de busca.
         Aqui, o título é "Página Inicial". -->
    <title>Página Inicial</title>
</head>

<!-- A tag <body> contém todo o conteúdo que será exibido para
    os usuários na página web, como texto, imagens, links, etc. -->
<body>

    <!-- A tag <h1> é usada para o título principal da página.
        Os navegadores normalmente exibem o texto em <h1> em um tamanho grande e em negrito.
         É uma prática importante para SEO (otimização para motores de
          busca) usar a tag <h1> para o título principal da página. -->
    <h1>Bem-vindo ao Meu Projeto Flask!</h1>

    <!-- A tag <p> é usada para parágrafos de texto.
         Ela ajuda a organizar o conteúdo em blocos de texto,
         tornando-o mais legível e acessível. -->
    <p>Esta é uma página simples criada com Flask.</p>

</body>
<!-- Fim da tag <body>. Todo o conteúdo visível da página
    deve ser colocado dentro desta tag. -->

</html>
<!-- Fim da tag <html>. Indica o fim do documento HTML. -->
